@{
    ViewData["Title"] = "Home Page";
}

<style>
    .branding {
        background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://www.thomasmore.edu/wp-content/uploads/Eva-Farris-Gallery-Banner.jpg");
        background-size:  cover;
    }
</style>

<div class="p-5 mb-4 rounded-3 branding" >
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-light">Eva G. Farris Gallery</h1>
        <p class="col-md-8 fs-4 text-light">The Eva G. Farris Art Gallery is located in the Benedictine Library on the Crestview Hills, Ky., campus of Thomas More University. Initially created to enrich the liberal arts experience at the University, the Gallery has become a leader in exhibiting local, regional, and national contemporary artists and is one of the premier University galleries in Northern Kentucky.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Exhibits" asp-action="Index" role="button">View Exhibits</a>
    </div>
</div>

<br/>

<h1 class="display-6 fw-bold text-primary">Gallery History</h1>
<p class="fs-5">On June 21, 2007, Thomas More University unveiled the naming of the new Art Gallery as the “Eva G. Farris Art Gallery.”</p>
<p class="fs-5">“For some individuals, giving of their time and resources comes naturally. Eva Farris is one of these special individuals,” said Sister Margaret Stallmeyer, former president of Thomas More University. “She not only gives financial support to numerous organizations, but she serves as a committed and passionate volunteer throughout the community.”</p>
<p class="fs-5">A portrait of Eva Farris, painted by Thomas More graduate Taylor Stephenson ’07, hangs on the entry wall of the Gallery. Ms. Stephenson is one of two Thomas More art graduates whose work was selected in a national competition to be displayed at Manifest Gallery in Cincinnati.</p>

<br/>
<hr class="bg-primary" />
<br/>

<h1 class="display-6 fw-bold text-primary">Gallery Hours</h1>
<p class="fs-5 fw-bold">Monday-Friday: 8:00 AM - 4:30 PM</p>
<p class="fs-5 fw-bold">Saturday-Sunday: Closed</p>
<p class="fs-5 fw-light">Special Holiday Hours may change this schedule. The Eva G. Farris Art Gallery is located on the entrance level of the Benedictine Library. For more information, call 859-344-3300.</p>